@use "sass:map";
@use "colors";

.button-red {
  display: inline-block;
  min-width: 10em;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.7em 1.5em;
  outline: none;
  border: 0.1em solid transparent;
  border-radius: 0.2em;
  background-image: linear-gradient(0deg, map.get(colors.$red-palette, "30"), map.get(colors.$red-palette, "40"));
  background-origin: border-box;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(0deg, map.get(colors.$red-palette, "25"), map.get(colors.$red-palette, "35"));
  }

  &:active {
    background-image: linear-gradient(0deg, map.get(colors.$red-palette, "20"), map.get(colors.$red-palette, "30"));
  }

  &:focus {
    box-shadow: 0 0 0.1em 0.2em rgba(0,0,0,0.50);
  }
}

.iconButton-red {
  @extend .button-red;
  min-width: 0;
  padding: 5px;
}


.ghostButton-gray {
  display: inline-block;
  min-width: 10em;
  color: map.get(map.get(colors.$font-colors,"gray"), "1");
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 0.7em 1.5em;
  border-radius: 0.2em;
  border: 0.1em solid map.get(colors.$gray-palette, "50");
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: map.get(colors.$gray-palette, "95");
  }

  &:active {
    background-color: map.get(colors.$gray-palette, "90");
  }

  &:focus {
    box-shadow: 0 0 0.1em 0.2em rgba(0,0,0,0.50);
  }
}

.iconGhostButton-gray {
  @extend .ghostButton-gray;
  min-width: 0;
  padding: 5px;
}