@use "sass:map";

$red-palette: (
   "5": hsl(0,100%,5%),
  "10": hsl(0,100%,10%),
  "15": hsl(0,100%,15%),
  "20": hsl(0,100%,20%),
  "25": hsl(0,100%,25%),
  "30": hsl(0,100%,30%),
  "35": hsl(0,100%,35%),
  "40": hsl(0,100%,40%),
  "45": hsl(0,100%,45%),
  "50": hsl(0,100%,50%),
  "55": hsl(0,100%,55%),
  "60": hsl(0,100%,60%),
  "65": hsl(0,100%,65%),
  "70": hsl(0,100%,70%),
  "75": hsl(0,100%,75%),
  "80": hsl(0,100%,80%),
  "85": hsl(0,100%,85%),
  "90": hsl(0,100%,90%),
  "95": hsl(0,100%,95%),
);

$gray-palette: (
  "5": hsl(34,0%,5%),
  "10": hsl(34,0%,10%),
  "15": hsl(34,0%,15%),
  "20": hsl(34,0%,20%),
  "25": hsl(34,0%,25%),
  "30": hsl(34,0%,30%),
  "35": hsl(34,0%,35%),
  "40": hsl(34,0%,40%),
  "45": hsl(34,0%,45%),
  "50": hsl(34,0%,50%),
  "55": hsl(34,0%,55%),
  "60": hsl(34,0%,60%),
  "65": hsl(34,0%,65%),
  "70": hsl(34,0%,70%),
  "75": hsl(34,0%,75%),
  "80": hsl(34,0%,80%),
  "85": hsl(34,0%,85%),
  "90": hsl(34,0%,90%),
  "95": hsl(34,0%,95%),
);
$base-colors: (
  "red": $red-palette,
  "gray": $gray-palette,
);
$font-colors: (
  "gray": (
    "1": map.get($gray-palette, "20"),
    "2": map.get($gray-palette, "40"),
    "3": map.get($gray-palette, "60"),
    "4": map.get($gray-palette, "75"),
    "5": map.get($gray-palette, "95")
  ),
);

// generate font-color classes
@each $hue_name, $color_map in $font-colors {
  @each $index, $color_value in $color_map {
    .text-#{$hue_name}-#{$index} {
      color: $color_value;
    }
  }
}

// generate background-color classes
@each $hue_name, $color_map in $base-colors {
  @each $index, $color_value in $color_map {
    .bg-#{$hue_name}-#{$index} {
      background-color: $color_value;
    }
  }
}

// generate border-color classes
@each $hue_name, $color_map in $base-colors {
  @each $index, $color_value in $color_map {
    .bd-#{$hue_name}-#{$index} {
      border-color: $color_value;
    }
  }
}

// manually generated font-color mixins
@mixin text-gray-1 {
  color: map.get(map.get($font-colors, "gray"), "1");
}
@mixin text-gray-2 {
  color: map.get(map.get($font-colors, "gray"), "2");
}
@mixin text-gray-3 {
  color: map.get(map.get($font-colors, "gray"), "3");
}
@mixin text-gray-4 {
  color: map.get(map.get($font-colors, "gray"), "4");
}
@mixin text-gray-5 {
  color: map.get(map.get($font-colors, "gray"), "5");
}

// links
.link-gray-1 {
  text-decoration: underline;
  color: map.get(map.get($font-colors, "gray"), "1");

  &:visited {
    color: map.get(map.get($font-colors, "gray"), "2");
  }

  &:hover {
    text-decoration: underline;
  }
}
