@use "sizes";
@use "fonts";
@use "colors";
@use "sass:map";

.featureCard__img {
    height: 60px;
    margin-bottom: 12px;

    @media screen and (min-width: sizes.$sm) {
        height: 75px;
    }
}

.featureCard__heading {
    @include fonts.sans-font("lg");
    @include fonts.sans-font("2xl", "sm");
    margin-bottom: 12px;
}

.featureCard__text {
    @include fonts.sans-lite-font("sm");
    @include fonts.sans-lite-font("lg", "sm");
    text-align: center;
}

.footer__background {
    background-color: map.get(colors.$gray-palette, "25");
}

.bullet__list {
    list-style: none;
}

.bullet__item {
    background-image: url("/image/TriangleBullet.svg");
    background-size: 0.8em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

.form__label {
    @include fonts.sans-font("lg");
    @include fonts.sans-font("2xl","sm");
    display: block;
}

.form__textbox {
    @include fonts.sans-font("sm");
    @include fonts.sans-font("lg","sm");
    @include colors.bg-gray("98");
    @include colors.bd-gray("90");
    display: block;
    border-style: solid;
    border-radius: 0.2em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.flashMessage {
    @include fonts.sans-font("sm");
    @include fonts.sans-font("lg","sm");
    padding: 1em;
    margin-bottom: 50px;
    border-radius: 0.2em;
}

.flashMessage__bg--success {
    background-color: rgb(184, 255, 188);
}

.flashMessage__bg--error {
    background-color: rgb(255, 174, 174);
}

.flashMessage__text--success {
    color: rgb(76, 124, 79);
}

.flashMessage__text--error {
    color: rgb(122, 44, 44);
}