@use "sass:map";
@use "sass:color";
@use "colors";
@use "fonts";
@use "sizes";

.navbar__background {
  background-color: white;
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.25);
}
.navbar{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar__logoSection {
  flex: 0 0 auto;
}

.navbar__logo{
  text-decoration: none;
}

.navbar__linkSection{
  flex: 0 0 auto;
  background-color: white;
  border: none;
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  visibility: visible;
  padding: 0;
  z-index: 2;
}

.navbar__link{
  margin-left: 40px;
  text-decoration: none;
}