<div class="navbar__background Py(5px)">
    <div class="container">
        <div class="navbar">

            <div class="navbar__logoSection">
                <a class="navbar__logo" href="/"><img class="H(30px) H(40px)--sm My(10px)" src="/image/Logo.svg" alt="Logo"></a>
            </div>

            <nav class="navbar__linkSection">
                <a class="navbar__link" href="/account"><img class="H(20px) H(30px)--sm My(10px) Va(m)"  src="/image/UserIcon.svg" alt="UserIcon"></a>
            </nav>
        </div>
    </div>
</div>

