<div class="navbar__background Py(5px)">
    <div class="container">
        <div class="navbar">
            <div class="navbar__logoSection">
                <a class="navbar__logo" href="/"><img class="H(30px) H(40px)--sm My(10px)" src="/image/Logo.svg" alt="Logo"></a>
            </div>
            <form class="navbar__linkSection" action="/logout" method="POST">
                <a class="navbar__link" href="/browse"><img class="H(15px) H(20px)--sm My(10px) Va(m)"  src="/image/HomeIcon.svg" alt="Home" title="Browse Workouts"></a>
                <% if (user) { %>
                    <button class="navbar__link" type="submit"><img class="H(15px) H(20px)--sm My(10px) Va(m)"  src="/image/SignoutIcon.svg" alt="Sign out" title="Sign out"></button>
                <% } %>
            </form>
        </div>
    </div>
</div>

