<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Account</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<%- include('./_navbar'); %>

<section class="body__expandingSection">
    <div class="container">
        <p class="My(50px) text-brown-2">Account</p>
    </div>
</section>

<%- include('./_footer'); %>

</body>
</html>