<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Browse</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<%- include('./_navbar'); %>

<!-- Flash Message -->
<%- include('./_flashMessage') %>

<section class="body__expandingSection">
    <form class="container" action="/workout/delete" method="POST">
        <!-- Button toolbar -->
        <div class="D(f) Jc(sb) Ai(c) gray-border-bottom">
            <div class="D(f) Ai(c)">
                <a class="iconGhostButton-gray" href="/browse"><img class="H(15px) H(25px)--sm D(b)" src="/image/OpenIcon.svg" alt="OpenIcon" title="New Workout"></a>
                <button class="iconGhostButton-gray" type="submit"><img class="H(15px) H(25px)--sm D(b)" src="/image/DeleteIcon.svg" alt="DeleteIcon" title="Delete Selected"></a>
            </div>
            <button class="iconButton-red" type="submit"><img class="H(15px) H(25px)--sm D(b)" src="/image/SendIcon.svg" alt="SendIcon" title="Save and Start"></button>                
        </div>

        <!-- Workouts -->
        <div class="workout__grid">

                <input class="workout__checkbox--header" type="checkbox" name="selectAll" id="selectAll">
                <p class="workout__date--header">Date</p>
                <p class="workout__exerciseName--header">Exercise</p>
                <p class="workout__completedNumber--header">Total</p>
                <p class="workout__percentage--header">%</p>

                <input class="workout__checkbox" type="checkbox" name="123456" id="123456">
                <p class="workout__date"><a class="workout__link" href="/workout/1">2021–11–12</a></p>
                <p class="workout__exerciseName"><a class="workout__link" href="/workout/1">Push-ups</a></p>
                <p class="workout__completedNumber"><a class="workout__link" href="/workout/1">20 reps</a></p>
                <p class="workout__percentage"><a class="workout__link" href="/workout/1">45%</a></p>

                <input class="workout__checkbox" type="checkbox" name="123456" id="123456">
                <p class="workout__date"><a class="workout__link" href="/workout/2">2021–11–11</a></p>
                <p class="workout__exerciseName"><a class="workout__link" href="/workout/2">Cycling</a></p>
                <p class="workout__completedNumber"><a class="workout__link" href="/workout/2">10 min</a></p>
                <p class="workout__percentage"><a class="workout__link" href="/workout/2">10%</a></p>

        </div>

    </form>
</section>

<%- include('./_footer'); %>

</body>
</html>