<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Login</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<div class="Mb(50px)">
    <%- include('./_navbar'); %>
</div>

<!-- Flash Message -->
<%- include('./_flashMessage') %>

<section class="body__expandingSection">
    <div class="container D(f) Jc(c) Mb(50px)">
        <div class="Fxb(100%) Fxb(a)--sm Miw(400px)--sm" action="/login" method="POST">
            <h1 class="sans-bold-2xl sans-bold-5xl-@sm sans-bold-5xl-@sm Mb(0.5em)">Error</h1>
            <p class="sans-sm sans-lg-@sm">Sorry, but this page cannot be displayed.</p> 
        </div>
    </div>
</section>

<%- include('./_footer'); %>

</body>
</html>