<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Forgot Password</title>
</head>

<body class="body" id='atomic'>

<section class="">
    <%- include('./_navbar'); %>
</section>

<section class="body__expandingSection">
    <div class="container">
        <p class="My(50px) text-brown-2">Forgot Password</p>
    </div>
</section>

<%- include('./_footer'); %>

</body>
</html>