<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Home</title>
</head>

<body class="body" id='atomic'>

<section class="">
    <%- include('./_navbar'); %>
</section>

<section class="body__expandingSection">
    <!-- Hero section -->
    <div class="container D(f) Jc(c) Py(90px) Mb(50px)--md">
        <div class="Ta(c)">
            <h1 class="sans-bold-4xl sans-bold-7xl-@sm">FITNESS</h1>
            <h1 class="sans-bold-4xl sans-bold-7xl-@sm red-border-bottom D(ib) Pb(0.5em) Px(0.5em) Mb(0.5em)">TRAINING</h1>
            <h2 class="sans-md sans-2xl-@sm Mb(20px) Maw(500px)">Our free pyramid workout app will guide you step-by-step to reach your fitness goals.</h2>
            <a class="button-red sans-bold-xs sans-bold-lg-@sm" href="/signup">Create Free Account</a>
            <a class="ghostButton-gray sans-bold-xs sans-bold-lg-@sm" href="/login">Login</a> 
        </div>
    </div>

    <!-- Features -->
    <div class="container Mb(50px)">
        <div class="D(f) Jc(c)">
            <h1 class="sans-bold-2xl sans-bold-5xl-@sm Ta(c) red-border-bottom Pb(0.5em) Px(0.5em) Mb(1em)">Why Pyramid?</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center Mb(50px)">
                <img class="featureCard__img" src="/image/AllInOne.svg" alt="All In One">
                <h2 class="featureCard__heading">All-in-One</h2>
                <p class="featureCard__text">A pyramid workout contains a warm-up, an exercise challenge, and a cool down. The first set is very easy, which makes it easy to get started.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center Mb(50px)">
                <img class="featureCard__img"src="/image/Customize.svg" alt="Customize">
                <h2 class="featureCard__heading">Custom Fitness Level</h2>
                <p class="featureCard__text">No matter what your current fitness level is, you can customize the pyramid to get a workout that massively benefits your body, but isn’t too hard.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center Mb(50px)">
                <img class="featureCard__img"src="/image/EnjoyRide.svg" alt="EnjoyRide">
                <h2 class="featureCard__heading">Enjoy the Ride</h2>
                <p class="featureCard__text">Remember that you don’t have to complete the whole pyramid each time. The idea is to work towards that goal and enjoy the ride!</p>
            </div>
        </div>

    </div>

    <!-- Tutorial -->
    <div class="container Mb(50px)">
        <div class="D(f) Jc(c)">
            <h1 class="sans-bold-2xl sans-bold-5xl-@sm Ta(c) red-border-bottom Pb(0.5em) Px(0.5em) Mb(1em)">How Does It Work?</h1>
        </div>
        <div class="W(80%)--lg Mx(a)--lg">
            <div class="row Mb(45px) Mb(90px)--sm">
                <div class="col-12 col-md-6">
                    <h2 class="sans-lg sans-2xl-@sm">Reach the goals</h2>
                    <p class="sans-lite-sm sans-lite-lg-@sm Mb(1em)">During the first half of the pyramid workout, the number of reps for each set increases. During the second half of the workout, the number of reps for each set decreases.</p>
                    <ul class="bullet__list sans-lite-xs sans-lite-lg-@sm">
                        <li class="bullet__item Mb(1em)">Tap the arrow buttons to move between sets</li>
                        <li class="bullet__item Mb(1em)">Tap the “goal” button to auto-fill your reps</li>
                        <li class="bullet__item Mb(1em)">Type an "actual" number yourself, if needed.</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <img class="W(100%) Pstart(25px)--lg" src="/image/PyramidEdit.svg" alt="Pyramid Edit">
                </div>
            </div>
            <div class="row Mb(45px)">
                <div class="col-12 col-md-6 order-1 order-md-0">
                    <img class="W(100%) Pend(25px)--lg" src="/image/PyramidCreate.svg" alt="Pyramid Creation">
                </div>
                <div class="col-12 col-md-6 order-0 order-md-1">
                    <h2 class="sans-lg sans-2xl-@sm">Create your Workout</h2>
                    <p class="sans-lite-sm sans-lite-lg-@sm Mb(1em)">When creating a pyramid workout, you set the “goal” reps for the first and second level as well as determine the highest level . The app will auto-generate all other levels.</p>
                    <p class="sans-lite-sm sans-lite-lg-@sm Mb(1em)">You can also change the “units”, like seconds or minutes instead of reps, which makes pyramid workouts great for both cardio and strength training.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Call to Action -->
    <div class="container Py(50px) Mb(50px) Ta(c)">
        <h1 class="sans-bold-2xl sans-bold-5xl-@sm Ta(c) Mb(0.5em)">Try it Today!</h1>
        <a class="button-red sans-bold-xs sans-bold-lg-@sm" href="/signup">Create Free Account</a>
    </div>

</section>

<%- include('./_footer'); %>


<script src="/javascript/navbar.js"></script>

</body>
</html>