<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Home</title>
</head>

<body class="body" id='atomic'>

<section class="">
    <%- include('./_navbar'); %>
</section>

<section class="body__expandingSection">
    <!-- Hero section -->
    <div class="container Py(90px) D(f) Jc(c)">
        <div class="Ta(c)">
            <h1 class="sans-bold-4xl sans-bold-7xl-@md">FITNESS</h1>
            <h1 class="sans-bold-4xl sans-bold-7xl-@md red-border-bottom D(ib) Pb(20px) Mb(20px)">TRAINING</h1>
            <h2 class="sans-md sans-2xl-@md Mb(20px) Maw(500px)">Our free pyramid workout app will guide you step-by-step to reach your fitness goals.</h2>
            <a class="button-red sans-bold-xs sans-bold-lg-@md" href="/signup">Create Free Account</a>
            <a class="ghostButton-gray sans-bold-xs sans-bold-lg-@md" href="/login">Login</a> 
        </div>
    </div>
</section>

<%- include('./_footer'); %>


<script src="/javascript/navbar.js"></script>

</body>
</html>