<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>New Workout</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<div class="Mb(20px)">
    <%- include('./_navbar'); %>
</div>

<!-- Flash Message -->
<%- include('./_flashMessage') %>

<section class="body__expandingSection">
    <div class="container D(f) Jc(c) Mb(50px)">
        <!-- Centering wrapper -->
        <form class="Fxb(100%) Fxb(50%)--lg" action="/newWorkout" method="POST">
            <!-- Button toolbar -->
            <div class="D(f) Jc(sb) Ai(c) gray-border-bottom Pb(10px) Mb(15px)">
                <a class="iconGhostButton-gray My(15px)" href="/browse"><img class="H(15px) H(20px)--sm D(b)" src="/image/CloseIcon.svg" alt="CloseIcon" title="Cancel"></a>
                <button class="iconButton-red My(15px) " type="submit"><img class="H(15px) H(20px)--sm D(b)" src="/image/SendIcon.svg" alt="SendIcon" title="Save and Start"></button>                
            </div>

            <h1 class="sans-bold-2xl sans-bold-5xl-@sm Mb(15px)">New Workout</h1>

            <div class="row">
                <div class="col-6">
                    <label class="form__label" for="exerciseBox">Exercise</label>
                    <input class="form__textbox" type="text" name="exerciseName" id="exerciseBox" placeholder="Push-Ups">
                </div>
                <div class="col-6"> 
                    <label class="form__label" for="unitsBox">Units</label>
                    <input class="form__textbox" type="text" name="unitsName" id="unitsBox" placeholder="seconds">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form__label" for="level1GoalBox">Level 1 Goal</label>
                    <input class="form__textbox" type="text" name="level1Goal" id="level1GoalBox" placeholder="2">
                </div>
                <div class="col-6"> 
                    <label class="form__label" for="level2GoalBox">Level 2 Goal</label>
                    <input class="form__textbox" type="text" name="level2Goal" id="level2GoalBox" placeholder="4">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form__label" for="highestLevelBox">Highest Level</label>
                    <input class="form__textbox" type="text" name="highestLevel" id="highestLevelBox" placeholder="10">
                </div>
            </div>



        </form>
    </div>
</section>

<%- include('./_footer'); %>

</body>
</html>