<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Signup</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<div class="Mb(50px)">
    <%- include('./_navbar'); %>
</div>

<!-- Flash Message -->
<%- include('./_flashMessage') %>

<section class="body__expandingSection">
    <div class="container D(f) Jc(c) Mb(50px)">
        <form class="Fxb(100%) Fxb(a)--sm Miw(400px)--sm" action="/signup" method="POST" id=signupForm>
            <h1 class="sans-bold-2xl sans-bold-5xl-@sm sans-bold-5xl-@sm Mb(0.5em)">Create Account</h1>
            <label class="form__label" for="usernameTextBox">Username</label>
            <input class="form__textbox" type="text" name="username" id="usernameTextBox" minlength="5" required>
            <label class="form__label" for="passwordTextBox">Password</label>
            <input class="form__textbox" type="password" name="password" id="passwordTextBox" minlength="5" required>
            <label class="form__label" for="confirmPasswordTextBox">Confirm Password</label>
            <input class="form__textbox Mb(50px)" type="password" name="confirmPassword" id="confirmPasswordTextBox" minlength="5" required>
            <div class="g-recaptcha Mb(50px)" data-sitekey="6LcmTtsaAAAAAEmKsFBP5gZe_Ani3tRbXoaYUH61"></div>
            <button class="button-red sans-bold-xs sans-bold-lg-@sm Mb(50px)" type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include('./_footer'); %>

<!-- Form Validation -->
<script>
    const passwordBox = document.getElementById('passwordTextBox');
    const confirmPasswordBox = document.getElementById('confirmPasswordTextBox');
    confirmPasswordBox.addEventListener('mouseout', () => {    
        if (!confirmPasswordBox.value) return;
        if (confirmPasswordBox.value != passwordBox.value) {
            confirmPasswordBox.setCustomValidity('Passwords must be the same');
        } else {
            confirmPasswordBox.setCustomValidity('');
        }
        confirmPasswordBox.reportValidity();
    })
</script>

</body>
</html>